{% extends 'base.html' %}

{% block head %}

    <h1>Esto es el perfil</h1>

{% endblock %}



{% block body %}


<div class="">
<div class="row">

    <div class="col-3">
        <div class="container" id="pika">
                 <div class="container">
                    <div class="card p-3" style="width: 20rem;">
                        {% if imagen_base64 %}
                        <img src="data:image/jpeg;base64,{{ imagen_base64 }}" alt="Imagen de perfil">
                    {% else %}
                        <p>No se ha cargado ninguna imagen de perfil</p>
                    {% endif %}
                        <div class="card-body">
                          <p class="text-center card-text">
                            {{ nombre_usuario }} {{ apellido_usuario }}
                          </p>
        
                        </div>
                      </div>
        

                 </div>   
        
        </div>
        </div>
        
        
        <div class="col-9">
        <div class="">
            <div class="">
        
                <div>
            
                    <div class="">
                            <div class="layout">
                            {% if error %}
                        <div class="error-message">  
                                {{error}}
                        </div>
                        
                        {% endif %}
                        
                        <div class="container">
                        
                            <div class="mb-3">
                                <form method="POST" action="{{ url_for('perfil.perfil') }}" enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <label for="formFile" class="form-label">Cambiar Imagen</label>
                                    <input class="form-control" name="file" type="file" id="file">
                                    <br>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                        <input type="text" name="new_name" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" pattern="[A-Za-z\s]+" /required>
                                        <div id="emailHelp" class="form-text">Escribe un nuevo nombre.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Apellido</label>
                                        <input type="text" name="new_lastname" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" pattern="[A-Za-z\s]+" /required>
                                        <div id="emailHelp" class="form-text">Escribe un nuevo Apellido.</div>
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="Cambiar">

                                    
                                </form>
                            </div>
                        </div>
                
                        </div>
                
                    </div>
                
                </div>
            
            </div>
            
        
        
        </div>
        </div>
        

</div>

</div>

{% endblock %}