.body{
}

.posts{
   box-shadow: 5px 5px 5px rgb(194, 194, 194);
}

.layout{
    width:70%;
    padding-left:20%;
}

.input{
    margin:20px;
}

.error-message {
    color: red;
    font-weight: bold;
    /* Otros estilos de tu elección */
}

.label{
    color: rgba(0, 0, 0, 0.504);
}

.img1{
 padding-right: 2%;
}

.imglogo{
    width: 100px;
    padding-top: 3%;
}

#XDD{
    padding-left: 2%;
    padding-right:2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.pika{

}

.listapokemones{
    list-style: none;
}

.img_noprofile{
    width:40px;
}

.all_friends{
    width: 60px;
}

.texto_perfil{
    padding-left:50%;
}

.img-poke:hover{
    transform: scale(1.1);
}

.small-input {
    width: 200px; /* O el valor que desees */
}


.icons{
    width: 50px;
}